
<% include partials/header.ejs %>
    
    <div class="container">
        <h1 class= "main-title home-title"> Welcome to the Movie Search APP! </h1>
        <section class="home-section"> 
            <p>You can search for keywords or movie titles! Feel free to try it at will :)</p>
            
            <a href="/search" class="btn btn-secundary btn-lg" role="button">Start your search!</a>
        </section>
    </div>
    
<% include partials/footer.ejs%>    