<h1>Search the title you want below: </h1>


<form action = "/results" method = "GET">
    <input placeholder = "search movie keyword" name = "search">
    <button>Submit</button>
</form>


<button><a href="/">Back to Home</a></button>

